In [1]:
import sys
sys.path.insert(0,'/Users/shenwanxiang/Desktop/') #改成你的路径


from THU_STATS.dataset import load_MedExp
from THU_STATS.utils.modelbase import ModelBase
from THU_STATS.utils.pandastool import isCategory, isSeries
from THU_STATS.docs import common_doc

from statsmodels.discrete.discrete_model import Probit





df = load_MedExp()
p = Probit(df.child.map({'yes':1, 'no':0}), df[['age']])
a = p.fit()
a.summary2()

Optimization terminated successfully.
         Current function value: 0.481301
         Iterations 6

<class 'statsmodels.iolib.summary2.Summary'>
"""
                        Results: Probit
================================================================
Model:              Probit           Pseudo R-squared: 0.287
Dependent Variable: child            AIC:              5367.5411
Date:               2019-02-14 19:20 BIC:              5374.1669
No. Observations:   5574             Log-Likelihood:   -2682.8
Df Model:           0                LL-Null:          -3762.6
Df Residuals:       5573             LLR p-value:      nan
Converged:          1.0000           Scale:            1.0000
No. Iterations:     6.0000
------------------------------------------------------------------
         Coef.    Std.Err.      z       P>|z|     [0.025    0.975]
------------------------------------------------------------------
age     -0.0345     0.0009   -39.5016   0.0000   -0.0362   -0.0328
================================================================

"""

In [2]:
s = a.summary2()

In [3]:
s.tables[0]

                     0                 1                  2          3
0               Model:            Probit  Pseudo R-squared:      0.287
1  Dependent Variable:             child               AIC:  5367.5411
2                Date:  2019-02-14 19:20               BIC:  5374.1669
3    No. Observations:              5574    Log-Likelihood:    -2682.8
4            Df Model:                 0           LL-Null:    -3762.6
5        Df Residuals:              5573       LLR p-value:        nan
6           Converged:            1.0000             Scale:     1.0000
7      No. Iterations:            6.0000

In [4]:
s.tables[1]

        Coef.  Std.Err.          z  P>|z|    [0.025    0.975]
age -0.034512  0.000874 -39.501625    0.0 -0.036224 -0.032799

In [ ]:
def core(dfx, tsy):

    
    '''
    input
    --------
      dfx: 定量数据,多列
      tsy: 0,1标签, 一列
    '''

    p = Probit(tsy, dfx)
    a = p.fit()
    a.summary2()


    crosstab = pd.crosstab(tsx, tsy)
    crosstab2 = pd.crosstab(tsx, tsy,margins = True)
    crosstab2 = crosstab2.rename(columns={'All':'总计'}, index={'All':'总计'})
    
    msg = {}
    
    if not isCategory(tsx):
        msg['error'] = '输入的%s不是类别型数据（category data)\n' % tsx.name
        return pd.DataFrame(), msg
        
    if not isCategory(tsy):
        msg['error'] = '输入的%s不是类别型数据(category data)\n' % tsy.name
        return pd.DataFrame(),msg
        
    if method not in methods.keys():    
        logtools.print_error('不支持的方法:%s，只支持以下方法：%s' % (method, list(methods.keys()) ))
        
    if method == "fisher":
        odd_rates, p = stats.fisher_exact(crosstab)
        expected = stats.contingency.expected_freq(crosstab)
        chi2 = '--'
        
    else:
        chi2, p, dof, expected = stats.chi2_contingency(crosstab, lambda_ = method)   

    dfe = pd.DataFrame(expected,columns=tsy.unique(),index=tsx.unique()).round(3)
    dfte = crosstab.astype(str) +' (' +  dfe.astype(str) + ')'
    dfte['总计'] =  crosstab2['总计']
    dfte.loc['总计'] = crosstab2.loc['总计'] 
    dfte['检验方法'] = method
    dfte['卡方统计量'] = chi2
    dfte['p-值'] = p
    dfte.index.name = '类别'
    return dfte.reset_index().set_index(['检验方法','卡方统计量','p-值','类别']), msg

In [5]:
df.child.map({'yes':1, 'no':0})

1       0
2       1
3       1
4       0
5       1
6       1
7       0
8       0
9       1
10      0
11      1
12      0
13      1
14      0
15      0
16      0
17      0
18      1
19      0
20      0
21      1
22      1
23      0
24      0
25      0
26      0
27      0
28      0
29      0
30      0
       ..
5545    1
5546    1
5547    0
5548    1
5549    1
5550    1
5551    1
5552    0
5553    1
5554    1
5555    1
5556    1
5557    1
5558    1
5559    1
5560    1
5561    1
5562    1
5563    1
5564    1
5565    1
5566    1
5567    1
5568    1
5569    1
5570    1
5571    1
5572    1
5573    1
5574    1
Name: child, Length: 5574, dtype: int64

In [8]:
df[['age']]

            age
1     43.877480
2     17.591380
3     15.499660
4     44.143050
5     14.549620
6     16.282680
7     39.830940
8     25.602330
9     16.745380
10    61.487340
11    15.590010
12    60.277210
13    15.223130
14    46.429160
15    38.111570
16    56.329230
17    60.017110
18    11.004110
19    33.613280
20    33.503770
21     4.720739
22     9.309377
23    62.426420
24    56.063660
25    20.022590
26    46.820670
27    53.621490
28    22.686520
29    49.818620
30    48.696100
...         ...
5545   1.413415
5546   4.515400
5547  20.589320
5548   2.160849
5549  17.783030
5550   1.292950
5551   1.681725
5552  18.169060
5553   1.265571
5554   1.161533
5555   0.707050
5556   0.895962
5557   0.939767
5558   0.742642
5559   0.742642
5560   6.180014
5561   1.079398
5562   1.353183
5563   0.635866
5564   1.114990
5565   1.027379
5566   1.032854
5567   0.619439
5568   0.646817
5569   0.416838
5570   0.277207
5571   2.713895
5572   0.222450
5573   0.036276
5574   0.403149

[5574 rows x 1 columns]